@model MvcFlowers.Models.Bouqet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bouqet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BouqetId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BouqetId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlowersCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlowersCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">Flowers:</dt>
        <dd class="col-sm-10">
            @if (Model.Flowers != null && Model.Flowers.Any())
            {
                <ul>
                    @foreach (var flower in Model.Flowers)
                    {
                        <li>@flower.DisplayName - @flower.Price</li> 
                    }
                </ul>
            }
            else
            {
                <p>No flowers in this bouquet.</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BouqetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
