@model MvcFlowers.Models.Bouqet

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bouqet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BouqetId" />

            <div class="form-group">
                <label for="SelectedFlowerIds">Select Flowers</label>
                <select asp-for="SelectedFlowerIds" class="form-control" multiple id="flowerSelect">
                    @foreach (var flower in ViewBag.AvailableFlowers)
                    {
                        <option value="@flower.Value">@flower.Text</option>
                    }
                </select>
                <span asp-validation-for="SelectedFlowerIds" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <h4>Current Flowers</h4>
        <ul class="list-group">
            @foreach (var flower in Model.Flowers)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @flower.DisplayName
                    <form asp-action="DeleteFlower" method="post" class="d-inline">
                        <input type="hidden" name="bouqetId" value="@Model.BouqetId" />
                        <input type="hidden" name="flowerId" value="@flower.MonoFlowerId" />
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </li>
            }
        </ul>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var selectedFlowerIds = '@Model.SelectedFlowerIds';
            var selectedIdsArray = selectedFlowerIds.split(',');

            var flowerSelect = document.getElementById('flowerSelect');
            for (var i = 0; i < flowerSelect.options.length; i++) {
                if (selectedIdsArray.includes(flowerSelect.options[i].value)) {
                    flowerSelect.options[i].selected = true;
                }
            }
        });
    </script>
}
