@model IEnumerable<MvcFlowers.Models.Bouqet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Цветы в букете</th>
            <th>Количество цветов</th> <!-- Новая колонка для количества цветов -->
            <th>Стоимость</th> <!-- Добавлено новое поле для стоимости -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BouqetId</td>
                <td>
                    <ul>
                        @if (item.Flowers != null && item.Flowers.Any())
                        {
                            foreach (var flower in item.Flowers)
                            {
                                <li>@flower.DisplayName</li>
                            }
                        }
                        else
                        {
                            <li>Нет цветов</li>
                        }
                    </ul>
                </td>
                <td>@item.CountFlowers()</td> <!-- Отображение количества цветов -->
                <td>@item.TotalPrice.ToString("C")</td> <!-- Отображение стоимости с форматированием -->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BouqetId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BouqetId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BouqetId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
