@model IEnumerable<MvcFlowers.Models.Bouqet>

@{
    ViewData["Title"] = "Bouqets";
}

<h1>Bouqets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Mono flowers included</th>
            <th>Count</th> 
            <th>Price</th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BouqetId</td>
                <td>
                    <ul>
                        @if (item.Flowers != null && item.Flowers.Any())
                        {
                            foreach (var flower in item.Flowers)
                            {
                                <li>@flower.DisplayName</li>
                            }
                        }
                        else
                        {
                            <li>No flowers</li>
                        }
                    </ul>
                </td>
                <td>@item.CountFlowers()</td> 
                <td>@item.TotalPrice.ToString("C")</td> 
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BouqetId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BouqetId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BouqetId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
